@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dsf-color-bg-page: #c2c2c2;

  --dsf-color-bg-primary: #55bc04;
  --dsf-color-bg-secondary: #fff;

  --dsf-color-font-primary: #fff;

  --dsf-color-border: #c2c2c2;
  --dsf-color-font-placeholder: #c2c2c2;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

.dsf-container {
  width: 100%;
  max-width: 980px;
  margin: 0px;

}

html,
body {
  background-color: var(--dsf-color-bg-page);

}

.dsf-mb20 {
  margin-bottom: 20px;
}